{% extends 'offreBase.html.twig' %}

{% block title %}new Offre{% endblock %}

{% block body %}
        <div>
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" style="margin-top: 10px">Ajouter un Offre
                  </h5>
                </div>
                <div class="modal-body">
                  <div class="column" id="main" >
                    <form method="post">
                        <div class="form-group col-12">
                            <label for="nom">Nom de l'offre </label>
                            <input type="text" name="nom" class="form-control" placeholder="Nom" required>
                        </div>
                        <div class="form-group col-12">
                            <label for="description">Description de l'offre</label>
                            <textarea name="description" class="form-control" placeholder="Description" required></textarea>
                        </div>
                        <label for="description">Categorie</label>
                        <select class="form-control col-12" name='categorie' required>
                            <option disabled selected> --Categorie-- </option>
                            {% for categorie in categories %}
                                <option value={{ categorie.id }}>{{ categorie.name }}</option>
                            {% endfor %}
                        </select><br>
                  
                        <div class="modal-footer">
                            <button type="submit" class="btn btn" style="background-color :#007bff; color: beige;">Ajouter</button>
                        </div>
                    </form>
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success"  >
                        {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('error') %}
                        <div class="alert alert-danger"  >
                           {{ message }}
                        </div>
                    {% endfor %}
                  </div>

                </div>
                <div class="modal-footer">
                  
                </div>
              </div>
            </div>
          </div>
{% endblock %}